<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>SoccerSense</title>
  <!-- styling -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/track.css') }}">
</head>
<body class="page-track">
  <!-- background Video -->
  <div class="bg-video">
    <video autoplay muted loop playsinline preload="metadata">
      <source src="{{ url_for('static', filename='media/field-bg.mp4') }}" type="video/mp4" />
    </video>
  </div>
  
  <!-- logo -->
  <img class="logo" src="{{ url_for('static', filename='media/soccersense.png') }}" alt="logo">
  
  <!-- main container with heading, input fields, and submission button -->
  <div class="container">
    <h1>Enter Field Size (meters)</h1>
    <form id="fieldForm" action="/track/control" method="POST" class="inline-fields">
      <input type="number" name="fieldLength" placeholder="Length (m)" required min="1" max="200" step="0.1">
      <h1>x</h1>
      <input type="number" name="fieldWidth" placeholder="Width (m)" required min="1" max="120" step="0.1">
    </form>
    <h2>* We suggest using GoogleMaps. Use length as the longer dimension *</h2>

    <div class="button-container">
      <button type="submit" form="fieldForm" class="btn btn-primary btn-large">Confirm and Enter Control Panel</button>
    </div>
  </div>
</body>
</html>